<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <audio id="myAudio" src="http://www.sousound.com/music/healing/healing_01.mp3" preload="auto">
    </audio>
    <a onClick="togglePlay()">Click here to hear.</a>

    <script>
        var myAudio = document.getElementById("myAudio");

        function togglePlay() {
        return myAudio.paused ? myAudio.play() : myAudio.pause();
        };
    </script>
</body>
</html>